---
import PageLayout from "@/layouts/PageLayout.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";

import HeroView from "@/views/HeroView.astro";
import InfoView from "@/views/InfoView.astro";
import GaleryView from "@/views/GaleryView.astro";
import OpinionView from "@/views/OpinionView.astro";

import ProductCard from "@/components/ProductCard.astro";
import EventCard from "@/components/EventCard.astro";
import TeamCard from "@/components/TeamCard.astro";
import UbicationItemInfo from "@/components/UbicationItemInfo.astro";
import MenuTabs from "@/components/react/MenuTabs";
import CarouselText from "@/components/react/CarouselText";
import MapView from "@/components/react/MapView";

import { pizzas, events, team, ubicationViewData } from "@/data/data";

const $pizzas = pizzas.slice(0, 3);
---

<PageLayout>
	<main class="relative top-[78px] 2xl:top-[70px]">
		<HeroView/>

		<section class="section">
			<h4>Nuestras Especialidades</h4>
			<CarouselText client:visible/>
		</section>

		<GaleryView/>
		
		<CardsLayout title="Pizzas Destacadas">
			{ $pizzas.map((p) => <ProductCard product={p}/>) }
		</CardsLayout>

		<section id="menú" class="section bg-primary">
			<h3>Menú Completo</h3>
			<MenuTabs client:visible/>
		</section>

		<CardsLayout id="eventos" title="Eventos Especiales" bgView="bg-thertiary">
			{ events.map((e) => <EventCard event={e}/>) }
		</CardsLayout>

		<OpinionView/>

		<CardsLayout id="sobre nosotros" title="Sobre Nosotros" bgView="bg-thertiary">
			<p class="text-center" slot="description">
				En la Pizzería <b>El Pizzeton D'Guti</b>, nos apasiona crear las mejores pizzas 
				artesanales utilizando ingredientes frescos y locales. Nuestras técnicas modernas 
				y pasión se combinan para ofrecerte una experiencia culinaria única.
			</p>

			{ team.map((t) => <TeamCard teamMember={t}/>) }
		</CardsLayout>

		<CardsLayout id="ubicación" title="Ubicación">
			<MapView client:only="react"/>

			<div class="flex flex-col gap-3">
				{
					ubicationViewData.map(({label, description}) => (
						<UbicationItemInfo label={label} description={description} />
					))
				}
			</div>
		</CardsLayout>

		<InfoView/>
	</main>
</PageLayout>