---
import MainLayout from "@/layouts/MainLayout.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";

import HeroView from "@/views/HeroView.astro";
import ProminentPizzas from "@/views/ProminentPizzas.astro";
import MenuView from "@/views/MenuView.astro";
import EventView from "@/views/EventView.astro";
import OpinionView from "@/views/OpinionView.astro";
import InfoView from "@/views/InfoView.astro";

import TeamCard from "@/components/TeamCard.astro";
import Carousel from "@/components/react/Carousel";
import AgregationsModal from "@/components/react/AgregationsModal";

import { team, ubicationViewData, especialities } from "@/data/data";

const photos = ['/pizzeria2.jpeg', '/pizzeria1.jpeg', '/pizzeria3.jpeg'];
---

<MainLayout>
	<main class="relative">
		<AgregationsModal client:load/>
		
		<HeroView/>
		
		<section class="section">
			<h4>Nuestras Especialidades</h4>
			<Carousel isDynamic={true} array={especialities} client:visible/>
		</section>
		
		<section class="section bg-thertiary">
			<h4>Galería de Fotos</h4>
			<Carousel isDynamic={false} array={photos} client:visible/>
		</section>
		
		<ProminentPizzas/>

		<MenuView/>

		<EventView/>

		<OpinionView/>

		<CardsLayout id="sobrenosotros" title="Sobre Nosotros" bgView="bg-thertiary">
			<p class="text-center max-w-[1000px] self-center" slot="description">
				En la Pizzería <b>El Pizzeton D'Guti</b>, nos apasiona crear las mejores pizzas 
				artesanales utilizando ingredientes frescos y locales. Nuestras técnicas modernas 
				y pasión se combinan para ofrecerte una experiencia culinaria única.
			</p>

			{ team.map((t) => <TeamCard teamMember={t}/>) }
		</CardsLayout>

		<CardsLayout id="ubicación" title="Ubicación">
			<iframe 
				src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1982.6530520228068!2d-82.27098858416873!3d23.128473033603456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d23.1285986!2d-82.2704456!5e0!3m2!1sen!2scu!4v1733959342775!5m2!1sen!2scu" 
				class="min-w-[272px] min-h-[272px] md:max-w-[300px] md:max-h-[300px] lg:min-w-[440px] lg:min-h-[340px] rounded-xl z-0"
				allowfullscreen 
				loading="lazy" 
				style={{ border: 0 }}   
				referrerpolicy="no-referrer-when-downgrade">
			</iframe>

			<div class="flex flex-col md:max-w-[320px] lg:max-w-[440px] self-center gap-3">
				{
					ubicationViewData.map(({label, description}) => (
						<p>
							<b class="text-white text-opacity-100">
								{ label }
							</b>
							<br/>
							{ description }
						</p>
					))
				}
			</div>
		</CardsLayout>

		<InfoView/>
	</main>
</MainLayout>