---
import PageLayout from "@/layouts/PageLayout.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";

import HeroView from "@/views/HeroView.astro";
import InfoView from "@/views/InfoView.astro";
import OpinionView from "@/views/OpinionView.astro";

import ProductCard from "@/components/ProductCard.astro";
import EventCard from "@/components/EventCard.astro";
import TeamCard from "@/components/TeamCard.astro";
import MenuTabs from "@/components/react/MenuTabs";
import MapView from "@/components/react/MapView";
import Carousel from "../components/react/Carousel";

import { pizzas, events, team, ubicationViewData, especialities } from "@/data/data";

const $pizzas = pizzas.slice(0, 3);
const photos = ['/pizzeria2.jpeg', '/pizzeria1.jpeg', '/pizzeria3.jpeg'];
---

<PageLayout>
	<main class="relative">
		<HeroView/>

		<section class="section">
			<h4>Nuestras Especialidades</h4>
			<Carousel isDynamic={true} array={especialities} client:visible/>
		</section>

		<section class="section bg-thertiary">
			<h4>Galería de Fotos</h4>
			<Carousel isDynamic={false} array={photos} client:visible/>
		</section>
		
		<CardsLayout title="Pizzas Destacadas">
			{ $pizzas.map((p) => <ProductCard product={p}/>) }
		</CardsLayout>

		<section id="menú" class="section bg-primary">
			<h3>Menú Completo</h3>
			<MenuTabs client:visible/>
		</section>

		<CardsLayout id="eventos" title="Eventos Especiales" bgView="bg-thertiary">
			{ events.map((e) => <EventCard event={e}/>) }
		</CardsLayout>

		<OpinionView/>

		<CardsLayout id="sobrenosotros" title="Sobre Nosotros" bgView="bg-thertiary">
			<p class="text-center max-w-[1024px] self-center" slot="description">
				En la Pizzería <b>El Pizzeton D'Guti</b>, nos apasiona crear las mejores pizzas 
				artesanales utilizando ingredientes frescos y locales. Nuestras técnicas modernas 
				y pasión se combinan para ofrecerte una experiencia culinaria única.
			</p>

			{ team.map((t) => <TeamCard teamMember={t}/>) }
		</CardsLayout>

		<CardsLayout id="ubicación" title="Ubicación">
			<MapView client:only="react"/>

			<div class="flex flex-col md:max-w-[320px] lg:max-w-[440px] self-center gap-3">
				{
					ubicationViewData.map(({label, description}) => (
						<p>
							<b class="text-white text-opacity-100">
								{ label }
							</b>
							<br/>
							{ description }
						</p>
					))
				}
			</div>
		</CardsLayout>

		<InfoView/>
	</main>
</PageLayout>