---
import ProductPrice from './react/ProductPrice';
import type { Product } from '@/interfaces';

interface Props {
    product: Product;
}

const { product } = Astro.props;
const { imgUrl, title, subtitle, price } = product;
---

<article class="flex flex-col xs:min-h-80 max-w-64 xs:max-w-72 hover:shadow-lg lg:hover:animate-scale bg-secondary rounded-xl">
    <div class="h-52 w-full rounded-ss-xl rounded-se-xl bg-gray-500">
        <img src={imgUrl} alt={`Imagen de la ${title}`} loading="lazy" class="rounded-ss-xl max-h-52 object-cover w-full rounded-se-xl"/>
    </div>
    
    <div class="flex flex-col flex-1 justify-center items-center gap-2 p-3">
        <h4 class="text-xl text-center">{title}</h4>
        <p class="text-center">
            {subtitle}
        </p>

        <ProductPrice price={price} client:visible/>
    </div>
</article>